body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    max-width: 400px; /* Added max-width for responsiveness */
    width: 90%; /* Added width for responsiveness */
  }
  
  h1 {
    text-align: center;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  .main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  li:last-child {
    border-bottom: none;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Added responsive styles */
  @media screen and (max-width: 480px) {
    .container {
      padding: 10px;
    }
  .main{
    display: flex;

    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  
  }
  #taskInput{
    margin: 10px 0px;
  }
  button{
    width: 20vw;
  }
    
  }
  