body{
    margin: 0%;
    z-index: 0;
    padding: 0%;
    background: rgb(221,255,251);
background: linear-gradient(90deg, rgba(221,255,251,1) 53%, rgba(221,255,251,1) 53%, rgba(172,182,180,1) 90%);

    
}
.navbar{
    position: sticky;
    top: 0%;
    width: 100%;
   background-color: rgb(12, 3, 48);
    height: 80px;
    display: flex;
    justify-content: space-between;
}
.nav-item{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}
.nav-item a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    
}
.nav-item a:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(12, 3, 48);
    transition: 0.75s;
}

main {
    margin-top: 0px;
    font-weight: bolder;
    padding: 15px;
    text-align: center;
    text-shadow: black 5px ;
    margin-bottom: 0px;
    align-items: center;
    
    overflow: hidden;
    font-family: "Source Sans Pro", "Arial", sans-serif; 
}

h1 {
	font-size: 36px;
	text-align: center;
	margin-bottom: 20px;
}

p {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 20px;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}
